* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: mediumpurple;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 5px;
}

.main {
    margin: auto;
}