* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

.header {
    background-color: mediumpurple;
    padding: 5px;
}

.navigation {
    text-align: left;
    color: white;
    font-size: 15px;
    line-height: 5px;
    margin: 1vh;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.main {
    margin: auto;
    padding: auto;
}